<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link href="{% static 'jquery.cookie.min.js' %}">
    <link href="{% static 'main.min.css' %}" rel="stylesheet">
    <script src="{% static 'main.min.js' %}" type="text/javascript"> </script>

<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
<div class="alert-placeholder"></div>
<div class="panel panel-success">
<div class="panel-body">
<div class="row">
<div class="col-lg-12">
<div class="text-center"><h2><b>Recover Account</b></h2></div>
<form id="register-form" action="{% url 'aliexpress:recover_p' %}" method="post" role="form" autocomplete="off"> {% csrf_token %}
<div class="form-group">
<label for="email">Email Address</label>
<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" autocomplete="off" required="">
</div>
<div class="form-group">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
<input type="submit" name="recover-submit" id="recover-submit" tabindex="2" class="form-control btn btn-success" value="Recover Account">
</div>
</div>
</div>
<input type="hidden" class="hide" name="token" id="token" value="08221f70a74b7fd3d60378aa0f94afa3">
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="text-center" style="margin-top:25px;">
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3482214419652965" data-ad-slot="9748433531" data-ad-format="auto"></ins>
<script>
		  (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>
</div>
</div>
</div>  <div class="container-fluid footer">
<br>
<div class="row">
<div class="col-lg-3">
</div>
<div class="col-lg-3"></div>
<div class="col-lg-3"></div>
<div class="col-lg-3"></div>
</div>
</div>

<script src="https://cdn.phpoll.com/js/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<html lang="en"><head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="PHPoll - free, instant &amp; easy unlimited polls with unlimited responses, no signup required">
<meta name="author" content="M">
<meta name="keywords" content="create,free,php,poll,check,results,survey,share,track,unlimited,instant,responses">
<link rel="icon" type="image/x-icon" href="https://cdn.phpoll.com/images/favicon.ico">

<meta property="og:url" content="http://phpoll.com">
<meta property="og:description" content="free, instant &amp; easy unlimited polls with unlimited responses, no signup required">
<meta property="og:image" content="https://cdn.phpoll.com/images/phpoll-grey.png">
<meta property="og:title" content="PHPoll - free, instant &amp; easy polls">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PHPoll">
<title>PHPoll - Recover</title>

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
<link href="https://cdn.phpoll.com/css/main.min.css?v=3.0.3" rel="stylesheet">
